<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0, minimum-scale=0.86">
    <title>Open Camera Demo</title>
    <style>
        .info {
            background-color: lightblue;
            border-radius: 5px;
            min-height: 2vh;
            padding: 0.5rem;
            margin-top: 1rem;
        }
        pre {
            white-space: pre-wrap;
            word-break: break-all;
        }
    </style>
</head>

<body>
    <%- include('header'); -%>
    <h4>File details:</h4>
    <section class="info">
        <pre><b>Name</b>: <%= fileName %></pre>
        <pre><b>Hash</b>: <%= hash %></pre>
        <pre><b>Timestamp</b>: <%= timestamp %></pre>
    </section>
</body>

</html>