<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0, minimum-scale=0.86">
    <title>Open Camera Demo</title>
</head>

<body>
    <%- include('header'); -%>  
    <article>Upload the image to calculate to check whether it's registered on the blockchain</article>
    <br>
    <form method="POST" action="/check" encType="multipart/form-data"> 
        <input type="file" name="image" />
        <br>
        <input type="submit" />
    </form>
</body>

</html>