<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0, minimum-scale=0.86">
    <title>Open Camera Demo</title>
    <style>
        input {
            margin: 5px;
            padding: 5px;
            border: 1px solid grey;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <%- include('header'); -%>  
    <article>Upload the image to calculate to verify whether it's registered on the blockchain.</article>
    <p>To see transactions live, please go to <a href="https://orbs-prism-demonet.herokuapp.com/vchains/1000/" target="_blank">Orbs Block Explorer</a>.</p>
    <br>
    <form method="POST" action="/check" encType="multipart/form-data"> 
        <input type="file" name="image" />
        <br>
        <input type="submit" />
    </form>
</body>

</html>